* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  /*Top logo and nav bar*/

  div.header {
    background-color: #0088ba;
    padding: 18px;
    color: white;
    
    
  }
  
  div.header ul li, ul, h1, a {
    display: inline;
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  
/* Page Body */

  .top-section h2,
  .review h2 {
    padding: 28px 28px 15px 28px;
    color: hsl(196, 98%, 32%);
   
  }

  .top-section p {
    padding: 5px;
    padding-bottom: 0px;
    margin: 5px;
    margin-left: 20px;
  }

  .top-section p strong {
    color:#0088ba;
  }

  


/* Membership and social links */

  .top-section .membership {
    display: inline-block;
    border: solid ;
    border-radius: 11px;
    padding: 10px 25px 10px 25px;
    margin: 20px 0px 0px 20px;
    color: rgb(252, 144, 111);
    font-size: 13px;
  }

  .top-section .membership:hover {
  color: white;
  background-color:rgb(252, 144, 111);
  }


 .top-section .instagram {
    background-color: rgb(132, 56, 194);
    color: white;
    display: inline-block;
    border: solid #690cb6;
    border-width: thin;
    border-radius: 11px;
    padding: 10px 28px 10px 28px;
    margin: 5px 0px 35px 25px;
    box-shadow: 2px 2px 5px #888888;
 }

 .top-section .instagram:hover {
   color:rgb(132, 56, 194);
   background-color: white;
 }

  .top-section .facebook {
    background-color: hsl(216, 83%, 49%);
    color: white;
    display: inline-block;
    border: solid hsl(216, 83%, 38%);
    border-width: thin;
    border-radius: 11px;
    padding: 10px 28px 10px 28px;
    margin: 20px 0px 20px 20px;
    box-shadow: 2px 2px 5px #888888;
  }
  .top-section .facebook:hover {
    background-color: white;
    color:hsl(216, 83%, 49%) ;
  }
 
  .top-section .youtube {
    background-color: red;
    color: white;
    display: inline-block;
    border: solid #b40a0a;
    border-width: thin;
    border-radius: 11px;
    padding: 10px 28px 10px 28px;
    margin: 20px 0px 20px 20px;
    box-shadow: 2px 2px 5px #888888;
  }
  .top-section .youtube:hover {
    background-color: white;
    color: red;
  }
 

  /* Testimonials */

 .review h2 {
   padding-top: 0px;
 }

  .review__chris, .review__dan, .review__minho {
    display: inline-block;
    box-sizing:content-box;
    width: 160px;
    border: 1px solid #0088ba;
    box-shadow: 2px 5px 5px #0088ba;
    padding: 25px 50px 10px 50px;
    margin: 0px 10px 20px 10px;
    margin-bottom: 15px;
    text-align: center; 
   }

   .review__minho{
     padding-top: 7px ;
   }

   .review span {
     color: #0088ba;
     font-size: 18px;
   }


  /* Bottom page links */

  div.footer {
    background-color:#0088ba;
    color: white;
    height: 250px;
  }

  .footer .popular {
    font-size: 18px;
    padding: 20px 0px 15px 18px;
  }

  .footer ul,
  .footer ul li {
    margin-left: 30px;
    list-style: none;
    
  }

  
  .footer ul li {
    display: block;
  }

  .footer strong {
    display: block;
    
    margin-left: 15px;
  }


  /* About us page */

  .about-body {
  display: inline-block;

  }
  
  .about-body h2 {
    padding: 30px 50px 0px 128px;
    color: hsl(196, 98%, 32%);
  }

  .about-body p {
      text-align: center;
      display: inline-block;
      width: 360px;
      padding: 0px 30px 30px 30px;
      margin-bottom: 20px;
      height: 15px;
      
    }
   .locations h2 {
     padding-bottom: 30px;
   }
  
    .location1, .location2, .location3 {
      display: inline-block;
      box-sizing:content-box;
      width: 260px;
      border: 1px solid #0088ba;
      box-shadow: 2px 5px 5px #0088ba;
      padding: 25px 50px 10px 50px;
      margin: 10px;
      text-align: center; 
      margin-bottom: 15px;
      
     }
   
     .locations span {
       color: #0088ba;
       font-size: 18px;
     }
  
     .locations ul li {
      list-style: none;
      color: black;
     }
  